<div class="grid-container">
    <img src="..\\..\\assets\\D4S_logo.png" alt="D4S logo" id="logo">
    <div class = 'container'>
        <mat-card class="card1">
            <mat-card-header>
                <mat-card-title>Moduł stojący</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="..\\..\\assets\\klatka.png" alt="Moduł stojący">
            <mat-card-content>
                <p></p>
                <p>
                Ćwiczenia w pozycji stojącej wymagają ustawienia pacjenta we właściwej pozycji, która jest utrzymywana przez elementy stabilizujące urządzenia. Podczas ćwiczeń w pozycji skorygowanej możliwa jest praca nad następującymi celami rehabilitacyjnymi:
                </p>
                <p>
                    1. Aktywizacja mięśni działających na tzw. krótką i długą stopę.
                </p>
                <p>
                    2. Aktywizacja mięśni działających na stawy skokowe, kolanowe i biodrowe.
                </p>
                <p>
                    3. Aktywizacja mięśni działających na tyłopochylenie miednicy.
                </p>
                <p>
                    4. Aktywizacja mięśni przedniej ściany brzucha, w tym mięśnia poprzecznego brzucha.
                </p>
                <p>
                    5. Retrakcja ramion i łopatek.
                </p>
                <p>
                    6. Korekcja ustawienia głowy i odcinka szyjnego.
                </p>
                <p>
                    7. Trakcja lub elongacja ciała.
                </p>
                <img src="..\\..\\assets\\stand_output.gif" alt="Standing GIF" id="standing_gif">
            </mat-card-content>
            <mat-card-actions>
            </mat-card-actions>
            </mat-card>
    
        <mat-card class="card2">
            <mat-card-header>
                <mat-card-title>Moduł klęczno-podparty</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="..\\..\\assets\\kneeling.png" alt="Moduł klęczno-podparty">
            <mat-card-content>
                <p></p>
                <p>
                    Ćwiczenia w pozycji klęczno-podpartej służą do czynnego oddziaływania na mięśnie stabilizatory kręgosłupa I-go rzędu siłą własną ćwiczącego. Do spełnienia celu ćwiczenia konieczne są następujące elementy-fazy ruchu ćwiczącego:
                    </p>
                    <p>
                        1. Przyjęcie pozycji w klęku podpartym, co daje stabilizację układu iznosi działanie sił obciążających na oś długą kręgosłupa.
                    </p>
                    <p>
                        2. Kifotyzację i elongację kręgosłupa uzyskuje się poprzez wygięcie („koci grzbiet”), które umożliwiają korzystne warunki do optymalnego zadziałania sił powodujących derotację skoliotycznie zrotowanych trzonów kręgów.
                    </p>
                    <p>
                        3. Derotację uzyskuje się w czasie wykonywania ćwiczenia „koci grzbiet” poprzez zastosowanie specjalnych głowic, które są umieszczane na szczytach skrzywień kręgosłupa po jego wypukłej stronie, pomiędzy wyrostkami kolczystymi a poprzecznymi trzonów kręgów.
                    </p>
                    <p>
                        4. Opisane powyżej działania mogą być uzupełnione zastosowaniem wibracji służącej rozluźnieniu mięśni.
                    </p>
                    <p>
                        5. Ćwiczenie wykonywane jest w pozycji klęku podpartego jako tzw. „koci grzbiet”, z zastrzeżeniem, że ustabilizowana jest obręcz barkowa i miedniczna w celu zapobiegania ruchom pacjenta w przód, tył i na boki.
                    </p>
                    <img src="..\\..\\assets\\knee_output.gif" alt="Kneeling GIF" id="knee_gif">
            </mat-card-content>
            <mat-card-actions>
            </mat-card-actions>
        </mat-card>
            
      </div>
</div>
