<div class = "grid-container">
  <img src="..\\..\\assets\\D4S_logo.png" alt="D4S logo" id="logo">
  <mat-card class="card">
    <img mat-card-image src="..\\..\\assets\\disc4spine.png" alt="D4S system">
    <mat-card-content>
      <p></p><p></p>
      <p>
        D4S to system interaktywnej rehabilitacji kręgosłupa i postawy w aspekcie dynamicznej, spersonalizowanej stymulacji. Instalacja złożona jest z dwóch modułów terapeutycznych umożliwiających diagnostykę i rehabilitację wad postawy. W ramach modułów wykorzystywany jest system czujników siły oraz kamery: przestrzenna i termowizyjna. Sygnały są zbierane i przetwarzane w module grywalizacji opartym o rozszerzoną rzeczywistość. Projekt realizowany przez Politechnikę Śląską we współpracy Akademią Wychowania Fizycznego w Katowicach, w formie konsorcjum z MedenInmed sp. z o.o. znajduje się w końcowej fazie realizacji.
      </p>
    </mat-card-content>
    <mat-card-actions>
    </mat-card-actions>
  </mat-card>
</div>